.textarea-list {
    resize: none;
    width: 100%;
    overflow: hidden;
    border: none;
}

.no-underline {
    text-decoration: none;
}

.list-image {
    width: 150px;
    height: 150px;
}

.detailed-image {
    width: 200px;
    height: 200px;
}

.border { border: 1px solid red !important; }